#
# .gitignore
# =============================================================================
# Reporter Multilang. Version 0.1
# =============================================================================
# A tool to generate human-readable reports based on data from various sources
# with the focus on its implementation using a series of programming languages.
#
# This is the configuration of the project Git ignorables,
# i.e. objects that should not be put into the repository.
#

# === Object files ============================================================
*.o

# === Intermediates ===========================================================
*.pyc

# === 3rd-party sources =======================================================
github.com/
golang.org/

# === Libraries ===============================================================
lib/
pkg/

# === Executables =============================================================
bin/

# === Generated docs ==========================================================
doxygen/

# === Binary data =============================================================
reporter_multilang
*.pdf

# vim:set nu:et:ts=4:sw=4:
